---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'
import Button from '../../ui/Button.astro'


// Content
// - Cards
import service01 from '../../../assets/hero-01.png'
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'

import heroImage from '../../../assets/hero-01.png'

---

<Section id="features">
	<Row>
		<Col span="7" align="left" classes="mb-12 max-w-4xl">
			<h5><strong>Services</strong></h5>
			<h2 class="text-pretty">Nuestros Servicios</h2>
			<!-- <Image
				src={heroImage}
				alt="Foxi. The tailwind astro theme"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950 rounded-2xl"
				format="webp"
			/> -->
		</Col>
		<Col span="2" />
		<Col span="3" align="right" classes="mt-12">
			<Button size="base" link="/">See All Services</Button>
		</Col>
	</Row>
	<Row>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Adecuación de Espacios Corporativos"
				subtitle="Transformación integral de oficinas, coworkings y salas de juntas para maximizar la productividad y la imagen corporativa."
				image={service01}
				link="/features"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Mantenimiento a Naves y Plantas"
				subtitle="Servicios especializados para la industria ligera, logística y manufactura. Seguridad y durabilidad en cada intervención."
				image={service01}
				link="/features"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Mantenimiento General (Facility Management)"
				subtitle="Asegure la continuidad operativa de su negocio con planes de mantenimiento programado o respuesta ante emergencias."
				image={service01}
				link="/features"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Fit-Out Comercial y Restaurantero"
				subtitle="Ejecución rápida para aperturas y renovaciones de locales en plazas comerciales."
				image={service01}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
