---
// FAQ with sticky sidebar
// ------------
// Description: an FAQ section with the title as a sticky sidebar.

// Components
// - UI
import StickySidebar from '../basic/StickySidebar.astro'
import FAQ from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'
import Button from '../../ui/Button.astro'

// Props
type Props = {
	data: any
	type?: 'left' | 'right'
	classes?: string
}
const {data, type = 'left', classes } = Astro.props
---

<StickySidebar classes={classes} type={type}>
	<header slot="sidebar">
		<h5><strong>FAQ</strong></h5>
		<h2 class="text-pretty">Your Questions, Answered</h2>
		<p class="pb-0 text-md">Check out our frequently asked questions to learn more about our services and how we can help.</p>
		<Button size="base" link="/">GET A QUOTE</Button>
	</header>

	<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
		{data.map((faq: any) => <FAQ title={faq.question} text={faq.reply} open={faq.open} />)}
	</Card>
</StickySidebar>
