---
import Row from './Row.astro'
import Col from './Col.astro'
import Button from './Button.astro'

// CTA
// ------------
// Description: a basic call to action component
// Properties:
// - Title: the title of the CTA
// - Text: the text of the CTA
// - Mode: the mode of the CTA (light, dark)
// - Bg: the background of the CTA
// - classes: additional classes

// Props
type Props = {
    subtitle?: string
	title?: string
	text?: string
	mode?: 'light' | 'dark'
	bg?: any
	classes?: string
}
const {
    subtitle = 'CONTACT US',
	title = 'Get started now',
	text = 'Get started today and see the difference for yourself!',
	mode ,
	bg,
	classes
} = Astro.props
---

<div
	class:list={['cta', { [`${classes}`]: classes }, { [`${mode}`]: mode }]}
	style={bg ? { backgroundImage: `url(${bg.src})` } : {}}
>
    <Row>

    <!-- COLUMNA IZQUIERDA -->
    <Col span="5" align="left">
        <div class="cta__body bg-white p-16 h-full rounded-2xl">
            <h5 class="cta__subheading" set:html={subtitle} />
            <h2 class="cta__heading" set:html={title} />
            <p class="cta__text" set:html={text} />
            <Button size="base" link="/">GET A QUOTE</Button>
        </div>
    </Col>

    <!-- COLUMNA DERECHA -->
    <Col span="7" classes="h-full flex items-end justify-end">

        <!-- CONTENEDOR INTERNO EN FILA -->
        <div class="flex gap-32 text-white text-left">

            <!-- CONTACT -->
            <div>
                <h5>Datos de Contacto</h5>
                <p class="text-sm">WhatsApp Directo: "Hablar con un Ingeniero".m</p>
                <p class="text-sm">Correo: info@formapro.mx</p>
                <p class="text-sm">Zona de Cobertura: Querétaro, Corregidora, <br>El Marqués, San Juan del Río, Celaya.</p>
            </div>

            <!-- LOCATION -->
            <div>
                <h5>Our Location</h5>
                <p class="text-sm">500 Terry Francine Street San Francisco,</p>
                <p class="text-sm">Twitter: twitter.com/handyman</p>
            </div>

        </div>

    </Col>

</Row>

	<!-- <slot /> -->
</div>

<style>
	.cta {
		@apply flex flex-col items-start justify-center gap-8 rounded-3xl border border-neutral-100 bg-neutral-50 bg-cover bg-center p-8 text-center shadow-2xl shadow-neutral-600/20 lg:p-16 dark:border-neutral-800 dark:bg-neutral-900;
	}
	.cta__heading {
		@apply mb-6 text-black text-2xl lg:text-4xl font-semibold;
	}
	.cta__text {
		@apply max-w-4xl text-base leading-relaxed;
	}
    .cta__subheading {
        @apply mb-2 text-sm font-semibold text-primary-500;
    }
</style>
